{% extends 'base.html.twig' %}
{% block title %}Votre Reclamation{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <section class="hero-wrap">
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('{{ asset('front/images/image_1.jpg') }}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container py-5">
            <div class="row justify-content-center" style="padding-top: 65px;">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" style="text-align:center">Reclamation Details</h1>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Nom:</strong> {{ reclamation.getNom() }}</li>
                                <li class="list-group-item"><strong>Email:</strong> {{ reclamation.getEmail() }}</li>
                                <li class="list-group-item"><strong>Numéro de téléphone:</strong> {{ reclamation.getNumtel() }}</li>
                                <li class="list-group-item"><strong>Catégorie:</strong> {{ reclamation.getCategory() }}</li>
                                <li class="list-group-item"><strong>Sujet:</strong> {{ reclamation.getSujet() }}</li>
                                <li class="list-group-item"><strong>Message:</strong> {{ reclamation.getMessage() }}</li>
                                <li class="list-group-item"><strong>Status de Reclamation:</strong> {{ reclamation.getStatus() }}</li>
                            </ul>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ path('app_reclamation_edit', {'id': reclamation.getId()}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('app_reclamation_delete', {'id': reclamation.getId()}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}