<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tunirent</title>

    {% block stylesheet %}
        <!-- Font Icon -->
        <link rel="stylesheet" href="{{ asset('/login/fonts/material-icon/css/material-design-iconic-font.min.css') }}">

        <!-- Main css -->
        <link rel="stylesheet" href="{{ asset('/login/css/style.css')}}">
    {% endblock %}

    {% block javascript %}
    {{ encore_entry_script_tags('app') }}
   <script src="{{ asset('/login/vendor/jquery/jquery.min.js')}}"></script>
   <script src="{{ asset('/login/js/main.js')}}"></script>
   {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>