{% extends 'base.voiture.html.twig' %}

{% block title %}
  Voiture
{% endblock %}

{% block stylesheets %}
  <style>
    input:invalid {
      border: 2px solid red;
    }
    
    .profile-card-4 {
      overflow: hidden;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      position: relative;
      margin: 10px auto;
      cursor: pointer;
    }
    
    .profile-card-4 img {
      max-width: 300px;
      height: 150px;
      object-fit: cover;
      transition: all 0.25s linear;
    }
    
    .profile-card-4 .profile-content {
      position: relative;
      padding: 15px;
      background-color: #fff;
    }
    
    .profile-card-4 .profile-name {
      font-weight: bold;
      font-size: 17px;
    }
    
    .profile-card-4 .profile-name p {
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 1.5px;
    }
    
    .profile-card-4 .profile-description {
      color: #777;
      font-size: 12px;
      padding: 10px;
    }
    
    .profile-card-4 .profile-overview {
      padding: 15px 0px;
    }
    
    .profile-card-4 .profile-overview p {
      font-size: 10px;
      font-weight: 600;
      color: #777 !important;
    }
    
    .profile-card-4 .profile-overview h4 {
      color: #273751;
      font-weight: bold;
    }
    
    .profile-card-4 .profile-content::before {
      content: '';
      position: absolute;
      height: 20px;
      top: -10px;
      left: 0px;
      right: 0px;
      background-color: #fff;
      z-index: 0;
      transform: skewY(3deg);
    }
    
    .profile-card-4:hover img {
      transform: rotate(5deg) scale(1.1, 1.1);
      filter: brightness(110%);
    }
    
    .profile-card-4 a,
    btn {
      color: white;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="hero-wrap">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-7 heading-section text-center">
          <h2 class="mb-4" style="padding-top: 121px;">Voitures</h2>
          <div style="display: flex; justify-content: center; padding-bottom: 70px">
            <a class="btn btn-info" href="{{ path('app_voiture_create') }}">Create new voiture</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="color: white;">
        <div class="container">
          <div class="row">
            {% for voiture in voitures %}
              <div class="col-md-4">
                <div class="profile-card-4 text-center">
                  <img src="{{ voiture.image }}" class="img img-responsive" alt="{{ voiture.immatriculation }}" />
                  <div class="profile-content">
                    <div class="profile-description">
                      <div class="profile-name">
                        {{ voiture.marque }} {{ voiture.modele }}<p>{{ voiture.immatriculation }}</p>
                      </div>
                      <b>Kilometrage:</b> {{ voiture.kilometrage }} <br />
                      <b>Couleur:</b> {{ voiture.couleur }} <br />
                      {% if voiture.total %}
                        <b>Rating:</b> {{ voiture.sum / voiture.total }} ({{ voiture.total }} votes) <br />
                      {% else %}
                        <b>Rating:</b> 0 (0 votes) <br />
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div style="width: 100%; display: flex; justify-content: center">
                      <a class="btn btn-secondary mr-4" href="{{ path('app_voiture_rate', { id: voiture.immatriculation }) }}">Rate</a>
                      <a class="btn btn-info mr-4" href="{{ path('app_voiture_edit', { id: voiture.immatriculation }) }}">Update</a>
                      <form method="post" action="{{ path('app_voiture_delete', { id: voiture.immatriculation }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voiture.immatriculation) }}" />
                        <button class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div style="width: 100%; display: flex; justify-content: center">
                      <a class="btn btn-secondary mt-4" href="{{ path('app_qr_codes', { slug: voiture.immatriculation }) }}">Share</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              no records found
            {% endfor %}
          </div>
        </div>
      </div>

      <div>
        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Statistics</span>
                <h2 class="mb-3">About Our Voitures</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="services services-2 w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center" style="color:white; font-size: 24px">{{ voitures_count }}</div>
                  <div class="text w-100">
                    <h3 class="heading mb-2">Registered Cars</h3>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="services services-2 w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center" style="color:white; font-size: 24px">{{ reservations_count }}</div>
                  <div class="text w-100">
                    <h3 class="heading mb-2">Total Reservations</h3>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="services services-2 w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center" style="color:white;">{{ top_reservation }}</div>
                  <div class="text w-100">
                    <h3 class="heading mb-2">Is the most reserved car modele</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  {# <ul class="nav flex-column" style="flex-direction: row !important">
    <li class="nav-item">
      <a class="nav-link click-scroll" href="{{ path('app_voiture_index') }}">Voiture Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link click-scroll" href="{{ path('app_category_index') }}">Categories</a>
    </li>

    <li class="nav-item">
      <a class="nav-link click-scroll" href="{{ path('app_voiture_create') }}">Create Voiture</a>
    </li>

    <li class="nav-item">
      <a class="nav-link click-scroll" href="{{ path('app_reservation_index') }}">Reservations</a>
    </li>

    <li class="nav-item">
      <a class="nav-link click-scroll" href="{{ path('app_reservation_create') }}">Create Reservation</a>
    </li>
  </ul> #}
{% endblock %}
