{% extends 'base.voiture.html.twig' %}

{% block title %} Update Reservation {% endblock %}

{% block stylesheets %}
  <style>
     input:invalid {
     border: 2px solid red;
     }
    .hero-wrap {
      position: relative;
      background: url('https://img.freepik.com/premium-photo/abstract-blur-car-showroom-background_34836-261.jpg') center center no-repeat;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="hero-wrap">
    

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


    <div class="overlay"></div>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-7 heading-section text-center">
          <h2 class="mb-4" style="padding-top: 121px;">Update Reservation</h2>
        </div>
      </div>
      <div class="row justify-content-center" style="color: white;">
        <div class="col-md-8">
          {{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
            <div class="row">
             <div class="col-md-6">
                {{ form_row(form.voiture, {'attr': {'class': 'form-control', 'placeholder': 'Voiture'}}) }}
              </div>
              <div class="col-md-6">
                {{ form_row(form.date_d, {'attr': {'class': 'form-control', 'placeholder': 'Date debut'}}) }}
              </div>
              <div class="col-md-6">
                {{ form_row(form.date_f, {'attr': {'class': 'form-control', 'placeholder': 'Date fin'}}) }}
              </div>
              <div class="col-md-12 text-center">
                <div class="form-group" style="margin-top: 17px;display: inline-block;">
                {{ form_row(form.submit, { 'label': 'Submit', 'attr': { 'class': 'btn btn-primary py-3 px-5' } }) }}
                </div>
              </div>
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}