{# {% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
            <ul class="nav flex-column " style="flex-direction: row !important" >
                 <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{ path('app_voiture_index') }}">Voiture Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{ path('app_category_index') }}">Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{ path('app_voiture_create') }}">Create Voiture</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{ path('app_reservation_index') }}">Reservations</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{ path('app_reservation_create') }}">Create Reservation</a>
                </li>

            </ul>

<div>
            <h3>Reservations List</h3>

        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Voiture</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} #}

{% extends 'base.voiture.html.twig' %}

{% block title %}
  Category
{% endblock %}

{% block stylesheets %}
  <style>
    input:invalid {
      border: 2px solid red;
    }
    
    .profile-card-4 {
      overflow: hidden;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      position: relative;
      margin: 10px auto;
      cursor: pointer;
    }
    
    .profile-card-4 img {
      max-width: 300px;
      height: 150px;
      object-fit: cover;
      transition: all 0.25s linear;
    }
    
    .profile-card-4 .profile-content {
      position: relative;
      padding: 15px;
      background-color: #fff;
    }
    
    .profile-card-4 .profile-name {
      font-weight: bold;
      font-size: 17px;
    }
    
    .profile-card-4 .profile-name p {
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 1.5px;
    }
    
    .profile-card-4 .profile-description {
      color: #777;
      font-size: 12px;
      padding: 10px;
    }
    
    .profile-card-4 .profile-overview {
      padding: 15px 0px;
    }
    
    .profile-card-4 .profile-overview p {
      font-size: 10px;
      font-weight: 600;
      color: #777 !important;
    }
    
    .profile-card-4 .profile-overview h4 {
      color: #273751;
      font-weight: bold;
    }
    
    .profile-card-4 .profile-content::before {
      content: '';
      position: absolute;
      height: 20px;
      top: -10px;
      left: 0px;
      right: 0px;
      background-color: #fff;
      z-index: 0;
      transform: skewY(3deg);
    }
    
    .profile-card-4:hover img {
      transform: rotate(5deg) scale(1.1, 1.1);
      filter: brightness(110%);
    }
    
    .profile-card-2 {
      background-color: #fff;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      background-position: center;
      overflow: hidden;
      position: relative;
      margin: 10px auto;
      cursor: pointer;
      border-radius: 10px;
    }
    
    .profile-card-2 img {
      width: 500px;
      height: 300px;
      object-fit: cover;
      transition: all linear 0.25s;
    }
    
    .profile-card-2 .profile-name {
      position: absolute;
      left: 30px;
      bottom: 120px;
      font-size: 30px;
      color: #fff;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      transition: all linear 0.25s;
    }
    
    .profile-card-2 .profile-icons {
      position: absolute;
      bottom: 30px;
      right: 30px;
      color: #fff;
      transition: all linear 0.25s;
    }
    
    .profile-card-2 .profile-username {
      position: absolute;
      bottom: 80px;
      left: 30px;
      color: #fff;
      font-size: 13px;
      transition: all linear 0.25s;
    }
    
    .profile-card-2 .profile-icons .fa {
      margin: 5px;
    }
    
    .profile-card-2:hover img {
      filter: grayscale(100%);
    }
    
    .profile-card-2:hover .profile-name {
      bottom: 80px;
    }
    
    .profile-card-2:hover .profile-username {
      bottom: 60px;
    }
    
    .profile-card-2:hover .profile-icons {
      right: 40px;
      color: white;
    }
    
    a {
      color: white;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="hero-wrap">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-7 heading-section text-center">
          <h2 class="mb-4" style="padding-top: 121px;">
            Reservations<div style="display: flex; justify-content: center; padding-bottom: 70px">
              <a class="btn btn-info" href="{{ path('app_reservation_create') }}">Create new Reservation</a>
            </div>
          </h2>
        </div>
      </div>
      <div class="row justify-content-center" style="color: white;">
        <div class="container">
          <div class="row">
            {% for reservation in reservations %}
              <div class="col-md-4">
                <div class="profile-card-2">
                  <img src="https://w0.peakpx.com/wallpaper/640/274/HD-wallpaper-black-car-black-dark-lights-nissan-race-speed.jpg" class="img img-responsive" />
                  <div class="profile-name" style="font-size: 17px; margin-top: 10px">{{ reservation.voiture }}</div>
                  <div class="profile-username">{{ reservation.dateD|date('m/d/Y') }} - {{ reservation.dateF|date('m/d/Y') }}</div>
                  <div class="profile-icons">
                    <div style="width: 100%; display: flex; justify-content: center">
                      <a class="btn btn-info mr-4" href="{{ path('app_reservation_edit', { id: reservation.id }) }}">Update</a>
                      <form method="post" action="{{ path('app_reservation_delete', { id: reservation.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}" />
                        <button class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              no records found
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
